.hero {
  display: flex;
  justify-content: space-between;
  height: 520px;
  align-items: center;

  @include tablet-big {
    height: 290px;
    column-gap: 30px;
  }

  @include tablet-small {
    height: 236px;
  }


  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 445px;

    @include tablet-big {
      max-width: 390px;
    }
  }

  &__title {
    @include fluid-text(60, 30);
  }

  &__description {
    @include fluid-text(18, 14);
  }

  &__button {

  }

  &__image {
    display: flex;
    align-self: start;

    @include tablet-big {
      width: 270px;
    }

    @include tablet-small {
      width: 195px;
      bottom: 0;
    }
  }
}