:root {
  --color-light: #FFFFFF;
  --color-gray: #EBEBEB;
  --color-dark: #4C5866;
  --color-accent: #7875FE;
  --color-gray-text: #666666;
  --color-gray-text-alt: #85859B;

  --font-family-base: 'Roboto', sans serif;

  --container-width: 1110px;
  --container-padding-x: 15px;
  --section-padding-y: 90px;

  --transition-duration: 0.2s;
}